:root{
    --main-color: rgb(0, 140, 255);
}

.page{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url('./media/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    display: flex;
}

h1{
    color: var(--main-color);
}

.card{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    text-align: center;
}

#answer{
    border: 0;
    border-bottom: 1px solid var(--main-color);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.btn-main{
    border: 1px solid var(--main-color);
    background-color: transparent;
    border-radius: 0;
}

.wrapper{
    width: 100%;
    backdrop-filter: blur(20px);
    padding: 10vh;
    color: white;
}

input{
    color: white !important;
}